/* .main {
    
} */
section {
    display: flex;
}
.information {
    background-color: #f4ce14;
}
article {
    flex: 1;
    background-color: #fff6c7;
    border-radius: 10px;
    margin: 10px;
    padding: 1rem;
    border: rgb(73, 94, 87) solid 4px;
    justify-content: center;
}
#article_images {
    width: 100%;
}
.spotlight {
    background-color: #495e57;
}
#spotlight {
    background-image: url("images/Spotlight.jpeg");
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.309);
    background-blend-mode: darken;
    color:white;
}
h1, h2 {
    display: inline-block;
    border: rgb(73, 94, 87) dotted 5px;
    border-radius: 5px;
    padding: 5px;
}

h1 {
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: white dotted 5px;
}

h2 {
    font-size: 2rem;
}